body
{
    /*background-image: url(./Images/Background.gif);*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-color: rgb(40, 40, 40);

    margin: 0px;
    height: 100vw;
}
h1
{
    color: White;
    font-family: "sans-serif","consolas";
    font-weight: bold;

    text-align: center;

    margin-top: auto;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
p
{
    color: rgb(255, 255, 255);
    font-family: "sans-serif", "consolas";
    font-size: 20px;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    margin-right: 5%;

    text-align: center;
    

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
hr
{
    margin-left: 5%;
    margin-right: 5%;

    box-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h1.Title
{
    color: White;
    font-family: "sans-serif","consolas";
    font-weight: bold;
    font-size: 60px;

    margin: auto;

    text-align: center;

    margin-top: 5%;

    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
div.UpperMenu
{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: .1%;

    padding-left: 30%;
    padding-right: 30%;
    @media (pointer: none), (pointer: coarse) {
        padding-left: 10%;
        padding-right: 10%;
    }

    position: sticky;
    top: 0;

    margin: 0px;

    background-color: rgb(0, 0, 0);
    height: fit-content;
    width: auto;

    border-bottom: 1px solid;
    border-color: white;

}
a.MenuButtons
{
    font-family: "sans-serif", "consolas";
    padding: 4% 4%;
    min-height: 10px;
    border: 0px outset buttonborder;
    border-radius: 3px;
    color: white;
    background-color: transparent;
    text-decoration: none;
    font-size: 4vh;
    @media (pointer: none), (pointer: coarse) {
        font-size: 3vh;
    }

    text-align: center;

    align-content: center;
}
/*a.MenuButtons.hover
{

}*/
div.Media
{
    width: auto;
    height: fit-content;
    display: flex;
}
iframe.Game
{
    border-style: none;
    height: 700px;
    width: 1080px;
    display: block;
    align-self: center;
}
iframe.Video
{
    border-style: none;
    height: 600px;
    width: 1065px;
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;

    justify-content: center;
    align-items: center;
}
div.GridContainer
{
    display: grid;
    grid-template-columns: 47% 47%;
    
    @media (pointer: none), (pointer: coarse) {
        grid-template-columns: 100%;
    }

    gap: 5%;
    padding: 5%;
}
.GridItem
{
    background-color: rgba(255, 255, 255, 0.25);
    border: 5px solid rgb(255, 255, 255, 1);
    padding: 5px;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    align-content: center;
    height: auto;
    min-height: 90%;
    width: auto;
}
#GameLogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;

    background-color: transparent;
    border: 0;

    height: max-content;
    max-width: 60%;
    width: 100%;
}

hr.Vertical
{
    transform: rotate(90deg);

    width: 30px;
    height: auto;

    margin-bottom: 7px;
    margin-left: 0;
    margin-right: 0;

    display: inline-block;
}

#Button
{
    text-decoration: none;
}